<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="conn" value="Initial Catalog = CandySur; Integrated Security = SSPI; Data Source =.\sqlexpress" />
  </appSettings>
</configuration>